body{
    background-color: #F8F9FE;
    color: #4B4F52;
    font-family: 'Lora', serif;;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}
h1, h2, h3{
	font-family: 'Roboto', sans-serif;
}
h1{
	color: #C26D32;
	font-size: 32px;
	font-weight: 900;
}
h2{
	color: #394976;
	font-size: 24px;
	font-weight: 300;
}

img{
	border-radius: 50%;
	width: 128px;
	height: 128px;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #0A66C2;
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: #A4C3B2;
}

ul{
	list-style: none;
	padding-left: 0;
}

li{
	display: inline;
	font-size: 31px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.card-white {
	background:white ;
	padding: 24px;
	border-radius: 6px;
	box-shadow: 0 12px 30px rgba(30, 30, 30, 0.3);

}

@media (max-width:  720px) {
.container{ 
width:  320px}}


